#__ in front are ignored

#forders
__*/
/__*/
/*/__*/
/*/*/__*/
/*/*/*/__*/
/*/*/*/*/__*/
/*/*/*/*/*/__*/
/*/*/*/*/*/*/__*/
/*/*/*/*/*/*/*/__*/
/*/*/*/*/*/*/*/*/__*/
/*/*/*/*/*/*/*/*/*/__*/
/*/*/*/*/*/*/*/*/*/*/__*/

#files
__*
/__*
/*/__*
/*/*/__*
/*/*/*/__*
/*/*/*/*/__*
/*/*/*/*/*/__*
/*/*/*/*/*/*/__*
/*/*/*/*/*/*/*/__*
/*/*/*/*/*/*/*/*/__*
/*/*/*/*/*/*/*/*/*/__*
/*/*/*/*/*/*/*/*/*/*/__*
/*/*/*/*/*/*/*/*/*/*/*/__*

#Historical
*.~*
/*.~*
/*/*.~*
/*/*/*.~*
/*/*/*/*.~*
/*/*/*/*/*.~*
/*/*/*/*/*/*/*.~*
/*/*/*/*/*/*/*/*.~*
/*/*/*/*/*/*/*/*/*.~*
/*/*/*/*/*/*/*/*/*/*.~*
/*/*/*/*/*/*/*/*/*/*/*.~*
/*/*/*/*/*/*/*/*/*/*/*/*.~*
/*/*/*/*/*/*/*/*/*/*/*/*/*.~*

#compiler generator
*.local   
*.dproj.local        
*.identcache
*.projdata
*.deployproj
*.template.xml
*.tvsconfig
*.dsk
*.res
*.stat
*.cfg
*.hpp
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.local
*.groupproj.local

/*.local   
/*.dproj.local        
/*.identcache
/*.projdata
/*.deployproj
/*.template.xml
/*.tvsconfig
/*.dsk
/*.res
/*.stat
/*.cfg
/*.hpp
/*.exe
/*.dll
/*.bpl
/*.bpi
/*.dcp
/*.so
/*.apk
/*.drc
/*.map
/*.dres
/*.rsm
/*.tds
/*.dcu
/*.lib
/*.a
/*.o
/*.ocx
/*.local
/*.groupproj.local

/*/*.local   
/*/*.dproj.local        
/*/*.identcache
/*/*.projdata
/*/*.deployproj
/*/*.template.xml
/*/*.tvsconfig
/*/*.dsk
/*/*.res
/*/*.stat
/*/*.cfg
/*/*.hpp
/*/*.exe
/*/*.dll
/*/*.bpl
/*/*.bpi
/*/*.dcp
/*/*.so
/*/*.apk
/*/*.drc
/*/*.map
/*/*.dres
/*/*.rsm
/*/*.tds
/*/*.dcu
/*/*.lib
/*/*.a
/*/*.o
/*/*.ocx
/*/*.local
/*/*.groupproj.local

/*/*/*.local   
/*/*/*.dproj.local        
/*/*/*.identcache
/*/*/*.projdata
/*/*/*.deployproj
/*/*/*.template.xml
/*/*/*.tvsconfig
/*/*/*.dsk
/*/*/*.res
/*/*/*.stat
/*/*/*.cfg
/*/*/*.hpp
/*/*/*.exe
/*/*/*.dll
/*/*/*.bpl
/*/*/*.bpi
/*/*/*.dcp
/*/*/*.so
/*/*/*.apk
/*/*/*.drc
/*/*/*.map
/*/*/*.dres
/*/*/*.rsm
/*/*/*.tds
/*/*/*.dcu
/*/*/*.lib
/*/*/*.a
/*/*/*.o
/*/*/*.ocx
/*/*/*.local
/*/*/*.groupproj.local

/*/*/*/*.local   
/*/*/*/*.dproj.local        
/*/*/*/*.identcache
/*/*/*/*.projdata
/*/*/*/*.deployproj
/*/*/*/*.template.xml
/*/*/*/*.tvsconfig
/*/*/*/*.dsk
/*/*/*/*.res
/*/*/*/*.stat
/*/*/*/*.cfg
/*/*/*/*.hpp
/*/*/*/*.exe
/*/*/*/*.dll
/*/*/*/*.bpl
/*/*/*/*.bpi
/*/*/*/*.dcp
/*/*/*/*.so
/*/*/*/*.apk
/*/*/*/*.drc
/*/*/*/*.map
/*/*/*/*.dres
/*/*/*/*.rsm
/*/*/*/*.tds
/*/*/*/*.dcu
/*/*/*/*.lib
/*/*/*/*.a
/*/*/*/*.o
/*/*/*/*.ocx
/*/*/*/*.local
/*/*/*/*.groupproj.local

/*/*/*/*/*.local   
/*/*/*/*/*.dproj.local        
/*/*/*/*/*.identcache
/*/*/*/*/*.projdata
/*/*/*/*/*.deployproj
/*/*/*/*/*.template.xml
/*/*/*/*/*.tvsconfig
/*/*/*/*/*.dsk
/*/*/*/*/*.res
/*/*/*/*/*.stat
/*/*/*/*/*.cfg
/*/*/*/*/*.hpp
/*/*/*/*/*.exe
/*/*/*/*/*.dll
/*/*/*/*/*.bpl
/*/*/*/*/*.bpi
/*/*/*/*/*.dcp
/*/*/*/*/*.so
/*/*/*/*/*.apk
/*/*/*/*/*.drc
/*/*/*/*/*.map
/*/*/*/*/*.dres
/*/*/*/*/*.rsm
/*/*/*/*/*.tds
/*/*/*/*/*.dcu
/*/*/*/*/*.lib
/*/*/*/*/*.a
/*/*/*/*/*.o
/*/*/*/*/*.ocx
/*/*/*/*/*.local
/*/*/*/*/*.groupproj.local 

/*/*/*/*/*/*.local   
/*/*/*/*/*/*.dproj.local        
/*/*/*/*/*/*.identcache
/*/*/*/*/*/*.projdata
/*/*/*/*/*/*.deployproj
/*/*/*/*/*/*.template.xml
/*/*/*/*/*/*.tvsconfig
/*/*/*/*/*/*.dsk
/*/*/*/*/*/*.res
/*/*/*/*/*/*.stat
/*/*/*/*/*/*.cfg
/*/*/*/*/*/*.hpp
/*/*/*/*/*/*.exe
/*/*/*/*/*/*.dll
/*/*/*/*/*/*.bpl
/*/*/*/*/*/*.bpi
/*/*/*/*/*/*.dcp
/*/*/*/*/*/*.so
/*/*/*/*/*/*.apk
/*/*/*/*/*/*.drc
/*/*/*/*/*/*.map
/*/*/*/*/*/*.dres
/*/*/*/*/*/*.rsm
/*/*/*/*/*/*.tds
/*/*/*/*/*/*.dcu
/*/*/*/*/*/*.lib
/*/*/*/*/*/*.a
/*/*/*/*/*/*.o
/*/*/*/*/*/*.ocx
/*/*/*/*/*/*.local
/*/*/*/*/*/*.groupproj.local 

/*/*/*/*/*/*/*.local   
/*/*/*/*/*/*/*.dproj.local        
/*/*/*/*/*/*/*.identcache
/*/*/*/*/*/*/*.projdata
/*/*/*/*/*/*/*.deployproj
/*/*/*/*/*/*/*.template.xml
/*/*/*/*/*/*/*.tvsconfig
/*/*/*/*/*/*/*.dsk
/*/*/*/*/*/*/*.res
/*/*/*/*/*/*/*.stat
/*/*/*/*/*/*/*.cfg
/*/*/*/*/*/*/*.hpp
/*/*/*/*/*/*/*.exe
/*/*/*/*/*/*/*.dll
/*/*/*/*/*/*/*.bpl
/*/*/*/*/*/*/*.bpi
/*/*/*/*/*/*/*.dcp
/*/*/*/*/*/*/*.so
/*/*/*/*/*/*/*.apk
/*/*/*/*/*/*/*.drc
/*/*/*/*/*/*/*.map
/*/*/*/*/*/*/*.dres
/*/*/*/*/*/*/*.rsm
/*/*/*/*/*/*/*.tds
/*/*/*/*/*/*/*.dcu
/*/*/*/*/*/*/*.lib
/*/*/*/*/*/*/*.a
/*/*/*/*/*/*/*.o
/*/*/*/*/*/*/*.ocx
/*/*/*/*/*/*/*.local
/*/*/*/*/*/*/*.groupproj.local

/*/*/*/*/*/*/*/*.local   
/*/*/*/*/*/*/*/*.dproj.local        
/*/*/*/*/*/*/*/*.identcache
/*/*/*/*/*/*/*/*.projdata
/*/*/*/*/*/*/*/*.deployproj
/*/*/*/*/*/*/*/*.template.xml
/*/*/*/*/*/*/*/*.tvsconfig
/*/*/*/*/*/*/*/*.dsk
/*/*/*/*/*/*/*/*.res
/*/*/*/*/*/*/*/*.stat
/*/*/*/*/*/*/*/*.cfg
/*/*/*/*/*/*/*/*.hpp
/*/*/*/*/*/*/*/*.exe
/*/*/*/*/*/*/*/*.dll
/*/*/*/*/*/*/*/*.bpl
/*/*/*/*/*/*/*/*.bpi
/*/*/*/*/*/*/*/*.dcp
/*/*/*/*/*/*/*/*.so
/*/*/*/*/*/*/*/*.apk
/*/*/*/*/*/*/*/*.drc
/*/*/*/*/*/*/*/*.map
/*/*/*/*/*/*/*/*.dres
/*/*/*/*/*/*/*/*.rsm
/*/*/*/*/*/*/*/*.tds
/*/*/*/*/*/*/*/*.dcu
/*/*/*/*/*/*/*/*.lib
/*/*/*/*/*/*/*/*.a
/*/*/*/*/*/*/*/*.o
/*/*/*/*/*/*/*/*.ocx
/*/*/*/*/*/*/*/*.local
/*/*/*/*/*/*/*/*.groupproj.local

/*/*/*/*/*/*/*/*/*.local   
/*/*/*/*/*/*/*/*/*.dproj.local        
/*/*/*/*/*/*/*/*/*.identcache
/*/*/*/*/*/*/*/*/*.projdata
/*/*/*/*/*/*/*/*/*.deployproj
/*/*/*/*/*/*/*/*/*.template.xml
/*/*/*/*/*/*/*/*/*.tvsconfig
/*/*/*/*/*/*/*/*/*.dsk
/*/*/*/*/*/*/*/*/*.res
/*/*/*/*/*/*/*/*/*.stat
/*/*/*/*/*/*/*/*/*.cfg
/*/*/*/*/*/*/*/*/*.hpp
/*/*/*/*/*/*/*/*/*.exe
/*/*/*/*/*/*/*/*/*.dll
/*/*/*/*/*/*/*/*/*.bpl
/*/*/*/*/*/*/*/*/*.bpi
/*/*/*/*/*/*/*/*/*.dcp
/*/*/*/*/*/*/*/*/*.so
/*/*/*/*/*/*/*/*/*.apk
/*/*/*/*/*/*/*/*/*.drc
/*/*/*/*/*/*/*/*/*.map
/*/*/*/*/*/*/*/*/*.dres
/*/*/*/*/*/*/*/*/*.rsm
/*/*/*/*/*/*/*/*/*.tds
/*/*/*/*/*/*/*/*/*.dcu
/*/*/*/*/*/*/*/*/*.lib
/*/*/*/*/*/*/*/*/*.a
/*/*/*/*/*/*/*/*/*.o
/*/*/*/*/*/*/*/*/*.ocx
/*/*/*/*/*/*/*/*/*.local
/*/*/*/*/*/*/*/*/*.groupproj.local

/*/*/*/*/*/*/*/*/*/*.local   
/*/*/*/*/*/*/*/*/*/*.dproj.local        
/*/*/*/*/*/*/*/*/*/*.identcache
/*/*/*/*/*/*/*/*/*/*.projdata
/*/*/*/*/*/*/*/*/*/*.deployproj
/*/*/*/*/*/*/*/*/*/*.template.xml
/*/*/*/*/*/*/*/*/*/*.tvsconfig
/*/*/*/*/*/*/*/*/*/*.dsk
/*/*/*/*/*/*/*/*/*/*.res
/*/*/*/*/*/*/*/*/*/*.stat
/*/*/*/*/*/*/*/*/*/*.cfg
/*/*/*/*/*/*/*/*/*/*.hpp
/*/*/*/*/*/*/*/*/*/*.exe
/*/*/*/*/*/*/*/*/*/*.dll
/*/*/*/*/*/*/*/*/*/*.bpl
/*/*/*/*/*/*/*/*/*/*.bpi
/*/*/*/*/*/*/*/*/*/*.dcp
/*/*/*/*/*/*/*/*/*/*.so
/*/*/*/*/*/*/*/*/*/*.apk
/*/*/*/*/*/*/*/*/*/*.drc
/*/*/*/*/*/*/*/*/*/*.map
/*/*/*/*/*/*/*/*/*/*.dres
/*/*/*/*/*/*/*/*/*/*.rsm
/*/*/*/*/*/*/*/*/*/*.tds
/*/*/*/*/*/*/*/*/*/*.dcu
/*/*/*/*/*/*/*/*/*/*.lib
/*/*/*/*/*/*/*/*/*/*.a
/*/*/*/*/*/*/*/*/*/*.o
/*/*/*/*/*/*/*/*/*/*.ocx
/*/*/*/*/*/*/*/*/*/*.local
/*/*/*/*/*/*/*/*/*/*.groupproj.local

/*/*/*/*/*/*/*/*/*/*/*.local   
/*/*/*/*/*/*/*/*/*/*/*.dproj.local        
/*/*/*/*/*/*/*/*/*/*/*.identcache
/*/*/*/*/*/*/*/*/*/*/*.projdata
/*/*/*/*/*/*/*/*/*/*/*.deployproj
/*/*/*/*/*/*/*/*/*/*/*.template.xml
/*/*/*/*/*/*/*/*/*/*/*.tvsconfig
/*/*/*/*/*/*/*/*/*/*/*.dsk
/*/*/*/*/*/*/*/*/*/*/*.res
/*/*/*/*/*/*/*/*/*/*/*.stat
/*/*/*/*/*/*/*/*/*/*/*.cfg
/*/*/*/*/*/*/*/*/*/*/*.hpp
/*/*/*/*/*/*/*/*/*/*/*.exe
/*/*/*/*/*/*/*/*/*/*/*.dll
/*/*/*/*/*/*/*/*/*/*/*.bpl
/*/*/*/*/*/*/*/*/*/*/*.bpi
/*/*/*/*/*/*/*/*/*/*/*.dcp
/*/*/*/*/*/*/*/*/*/*/*.so
/*/*/*/*/*/*/*/*/*/*/*.apk
/*/*/*/*/*/*/*/*/*/*/*.drc
/*/*/*/*/*/*/*/*/*/*/*.map
/*/*/*/*/*/*/*/*/*/*/*.dres
/*/*/*/*/*/*/*/*/*/*/*.rsm
/*/*/*/*/*/*/*/*/*/*/*.tds
/*/*/*/*/*/*/*/*/*/*/*.dcu
/*/*/*/*/*/*/*/*/*/*/*.lib
/*/*/*/*/*/*/*/*/*/*/*.a
/*/*/*/*/*/*/*/*/*/*/*.o
/*/*/*/*/*/*/*/*/*/*/*.ocx
/*/*/*/*/*/*/*/*/*/*/*.local
/*/*/*/*/*/*/*/*/*/*/*.groupproj.local